.u-center-text {
  text-align: center;
}

.u-margin-bottom-8 {
  margin-bottom: 8rem;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem;
}

.u-margin-bottom-big {
  margin-bottom: 8rem;
}

.u-margin-left-small {
  margin-left: 1.5rem;
}

.u-cover-large-screen {
  height: 80vh;
}

.u-center {
  margin: 0 calc(60% - calc((100% - 3 * 6rem) / 4));
}